@import '../../assets/css/colors.scss';

.editor-name {
    position: absolute;
    right: 20px;
    bottom: 110px;
    width: 430px;
    height: 60px;
    background-color: $white;
    z-index: 999;
}

.top-container {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.add-btn {
    background-color: $light-dark-blue;
    border-color: transparent;
    color: $white;
    cursor: pointer;

    &:hover {
        background-color: $dark-blue;
    }
}

.search-input-container {
    margin-left: 11px;
    width: 350px;
}

.modal-input-container {
    width: 200px;
}

.arrow-icon-lg {
    font-size: x-large;

}

.user-input-box {
    input[type="text"] {
        border: 1px solid #999999;
        height: 40px;
    }

    textarea {
        border: 1px solid #999999;
    }

    .dropdown-list {
        border: 1px solid #999999;
    }
}

.toggle-container {
    flex-direction: column;
}

.toggle-btn {
    width: 70px;
}

.search-item {
    display: flex;
    align-items: center;
    border-bottom: 2px solid $body-color;
}

.search-res-conatainer {
    height: 200px;
    overflow: scroll;
}

.actions-btn {
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.select-actions-btn {
    position: absolute;
    right: 50px;
    bottom: 100px;
}

.table-container {
    height: 80vh;
    margin-top: 10px;
}

.user-details-main-container {
    background-color: $white;
    margin: 60px;
    display: flex;
    flex-direction: row;
    min-height: 75vh;
}

.user-data-container {
    width: 20vw;
    height: 75vh;
    border-right: 3px solid $body-color;
    display: flex;
    flex-direction: column;
    padding-right: 60px;
}

.user-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.user-image-container {
    position: relative;
    width: 87px;
    height: 87px;
    border-radius: 87px;
}

.user-image {
    width: 87px;
    height: 87px;
    border-radius: 87px;
}

.upload-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 33px;
}

.upload-image-btn {
    position: absolute;
    right: 0;
    background-color: white;
    font-size: large;
}

.role-container {
    margin-top: 140px;
}

.roles-box {
    width: 267px;
    height: 169px;
    border: 1.5px solid $body-color;
    padding: 13px;
}

.role-box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.role-box-item {
    border: 1px solid $body-color;
    height: 30px;
    margin-top: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tablele-width {
    width: 95vw;
}

.user-data-table-container {
    padding-left: 43px;
    padding-right: 33px;
    width: 70vw;
    max-height: 65vh;
    overflow: scroll;
}

.details-btn-container {
    position: absolute;
    right: 100px;
    bottom: 50px;
    display: flex;
    flex-direction: row;
}

.com-top-container {
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-by-text {
    min-width: 85px
}

.com-drop-down-width {
    width: 100%;
    padding-right: 20px;
}

.com-search-input-container {
    height: 40px;
    display: flex;
    flex-direction: row;
}

.sub-table-padding {
    margin-left: 480px;
}

.user-details-pannerl-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-details-item {
    width: 250px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.create-new-btn {
    width: 80%;
}

.basket-table-icon {
    font-size: 25px;
}

.create-basket-container {
    padding-left: 65px;
    padding-right: 65px;
}

.group-hint-text {
    font-size: 10px;
}

.newsletter-img {
    width: 217px;
    height: 444px;
}

.basket-details-container {
    padding-top: 90px;
    padding-bottom: 125px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
}

.basket-geneal-txt-container {
    width: 315px;
    margin-left: 50px;
}

.general-btns-container {
    display: flex;
    flex-direction: row;
}

.general-content-container {
    margin-left: 30px;
}

.general-type-container {
    margin: 40px;
    margin-left: 200px;
    width: 220px;
}

.time-picker-width {
    width: 100px;
}

.time-picker-container {
    display: flex;
    flex-direction: row;
}

.time-picker-btn {
    font-size: 25px;
    color: $blue-color;
    margin-left: 10px;
    cursor: pointer;
}

.closable-time-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.closable-time-item {
    height: 40px;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    white-space: nowrap;
}