@import '../../assets/css/colors.scss';

.editor-name {
    position: absolute;
    right: 20px;
    bottom: 110px;
    width: 430px;
    height: 60px;
    background-color: $white;
    z-index: 999;
}