@import '../../assets/css/colors.scss';

.filters-btn {
    margin: 0;
}

.notification-box {
    background-color: #FF9029;
    width: 508px;
    height: 80px;
}

.language-dropdown {
    width: 508px;
    margin-top: 10px;
    border-width: 2px;
    border-color: black;

}

.search-colaps-icon {
    position: absolute;
    font-size: 25px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: $bluish-green;
    z-index: 3;
    color: white;
}

.open-pane {
    transform: scaleX(-1);
    left: 49%;
    top: 8.5px
}

.close-pane {
    left: 47px;
    top: 8.5px
}

.share-btn {
    border: 1px solid $base-gray;
    border-radius: 5px;
    padding-left: 1px;
    padding-right: 3px;
}

.collapsed-table-width {
    width: 44vw;
}

.expanded-table-width {
    width: 95vw;
}

.collapsed-table-container {
    border: 10px solid $bluish-green
}

.expanded-table-container {
    border-left: 50px solid $bluish-green
}

.selected-codes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 12px 0;

    .sel-item {
        width: 20%;
        padding: 8px;
        border-radius: 3px;
        text-align: center;
    }
}
