@import '../../assets/css/colors.scss';

.filters-btn {
    margin: 0;
}

.notification-box {
    background-color: #FF9029;
    width: 508px;
    height: 80px;
}

.language-dropdown {
    width: 508px;
    margin-top: 10px;
    border-width: 2px;
    border-color: black;

}