//===override====//'
* {
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
    
}

body {
    font-size: 0.85rem !important;
}

.form-wrapper, .form-footer {
    border: none !important
}
h1, h2, h3 {
 @extend .blue;
}

h1, .h1 {
    font-size: 2rem !important;
}
.identity-form-wrapper {
    left: 32vw !important;
    width: 34vw !important;
}

.star-top-navbar #notification-wrapper:hover, .star-top-navbar #notification-wrapper.opened {
    background: transparent !important;
}

.header{
    i {
        color: $white;

        &:hover {
            color: $theme-dark
        }
    }
}

.star-top-navbar .right-section {margin-right: 25px;}

#help-button.open {
    right: 300px;
    background-color: $theme-dark;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.k-button {
    background-image:none !important;
}

.btn-info {
    color: $white;
    background-color: $theme !important;
    border-color: transparent;
}

.k-content {
    height: calc(100vh - 130px) !important;
}

.action-bar .anticon svg { margin-top: -18px;}


p {
    margin-top: 0;
    margin-bottom: 0.2em !important;
}

.ant-modal-close-x {
    width: 30px !important;
    height: 30px !important;
    line-height: initial !important;
}
.ant-modal-close {
    padding: 6px !important;
    background: transparent !important;
}
.ant-modal-footer {
    padding: 20px 16px !important;
}
.input-container{margin-bottom:10px}

.tile h3{text-align:left}
.datapicker-input {
    max-height: 34px !important;
    padding: 6px 14px !important;

    .datapicker-icon {
        top: 5px !important;
    }
}

.ant-select-selection-search input{
    border: none !important
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0 6px !important;
}
.ant-select-single .ant-select-selector .ant-select-selection-search {
    left: 0px !important;
}

.ant-pagination-item a {
    padding: 2px 6px !important;
}

.ant-table-row {
    &:hover {
       cursor:pointer
    }
}