$checkbox-bg-color-checked: $theme;
$checkbox-border-color-checked: $checkbox-bg-color-checked;
$checkbox-bg-color-unchecked: #fff;
$checkbox-border-color-unchecked: #757575;

$radio-checked-color: $checkbox-bg-color-checked;
$radio-unchecked-color: $checkbox-border-color-unchecked;





input[type=checkbox] {
    // display: none;

    @mixin checkbox-structure($width: 20px, $height: 20px, $left: '', $border-color: '', $background-color: '') {
        content: "";
        position: absolute;
        width: $width;
        height: $height;
        top: 2px;
        border-radius: 2px;

        @if $border-color !='' {
            border: 2px solid $border-color;
        }

        @if $background-color !='' {
            background-color: $background-color;
        }

        transition: .2s;
    }

    &:not(:checked)+label::before {
        @include checkbox-structure($border-color: $checkbox-border-color-unchecked, $background-color: $checkbox-bg-color-unchecked);
        left: 0;
    }

    &:checked+label {
        &::before {
            @include checkbox-structure($border-color: $checkbox-border-color-checked, $background-color: $checkbox-bg-color-checked);
            left: 0;
        }

        &::after {
            @include checkbox-structure($width: 7px, $height: 12px);
            left: 7px;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            -webkit-transform: rotate(36deg);
            -ms-transform: rotate(36deg);
            transform: rotate(36deg);
            animation: fade-in .5s;
        }
    }
}

label {
    cursor: pointer;
    position: relative;
}



input[type=radio] {
    display: none;

    @mixin radio-structure($color) {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        left: 0;
        top: 1px;
        border-radius: 50%;
        border: 2px solid $color;
    }


    &:not(:checked)+label::before {
        @include radio-structure($radio-unchecked-color);
    }

    &:checked+label {
        &::before {
            @include radio-structure($radio-checked-color);
        }

        &::after {
            @include radio-structure($radio-checked-color);
            background-color: $radio-checked-color;
            -webkit-transform: scale(0.4);
            -ms-transform: scale(0.4);
            transform: scale(0.4);
            animation: fade-in .5s;
        }
    }
}

label {
    cursor: pointer;
    position: relative;
}



@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}