/*Tab stipes===*/
@import 'colors.scss';

.tabs {
    position: relative;
    display: grid;
    height: 100%;
}
.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.8em 1.5em;
    cursor: pointer;
}


.tab-content {
    background-color: $tab-content;
    position: relative;
    width: 100%;
}



.tab-list {
    padding-left: 0;
    margin-bottom: 0;
}


.tab-list-active {
    background-color: $tab-content;
}
