/*Tab stipes===*/
@import 'colors.scss';

.tabs {
    position: relative;
    height: 100%;
}
.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.8em 1.5em;
    cursor: pointer;
    background-color: $theme-tint-75;
}


.tab-content {
    background-color: $theme-tab-active-bg !important;
    position: relative;
    width: 100%;
    padding: 8px;
    height: calc(100% - 35px);
    top: 0;
}



.tab-list {
    padding-left: 0;
    margin-bottom: 0;
}


.tab-list-active {
    background-color: $tab-content;
}
