/*Tab stipes===*/
@import 'colors.scss';

.tabs {
    position: relative;
    height: 100%;
}
.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.6em 0.8em 0.6em 1.2em;
    cursor: pointer;
    background-color: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}


.tab-content {
    background-color: $theme-tab-active-bg !important;
    position: relative;
    width: 100%;
    padding: 8px 4px 0 8px;
    height: calc(100% - 20px);
    top: 0;
}

.detail-stripe-tab-top {
    padding: 15px;
    height: 90px;
    overflow-y: scroll;
}


.tab-list {
    padding-left: 0;
    margin-bottom: 0;
}


.tab-list-active {
    background-color: $tab-content;
}

.ant-tabs-top > .ant-tabs-nav {
    margin: 0 0 10px 0 !important;
}

.custom-tab-container {
    height: calc(100% - 68px) !important;
}