@import 'tooltip.scss';
@import 'grid.scss';
@import 'variables.scss';
@import 'radio-checkbox';

@import 'tab-stripes.scss';
@import 'elements.scss';
@import 'utilities.scss';
@import 'pagination.scss';
@import 'model.scss';
//@import 'buttons.scss'  ***;


@import 'fields.scss';
@import 'colors.scss';
@import 'padding-margin.scss';
@import 'developer.scss';



*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: $bod-font;
    font-size: 0.8em;
}

input,
select,
textarea {
    padding: 14px;
    border: 1px solid $grey-light;
    width: 100%;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    color: $blue-color;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    color: $blue-color;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    color: $blue-color;
}

.h1-semi {
    font-weight: 600;
    font-size: 28px;
    color: $blue-color;
}

.h2-semi {
    font-weight: 600;
    font-size: 24px;
    color: $blue-color;
}

.h3-semi {
    font-weight: 600;
    font-size: 18px;
    color: $blue-color;
}

.body-text {
    font-weight: 400;
    font-size: 14px;
    color: $base-gray;
}

.body-text-bold {
    font-weight: 700;
    font-size: 14px;
    color: $base-gray;
}

.body-content {
    background-color: $lighter-grey !important;
}

.s-row {
    float: left;
    width: 100%;
}

.a-row {
    float: left;
}

.n-float {
    clear: left
}

.component-container {
    width: 100%;
    display: block;
    position: relative;
    min-height: calc(100vh - 50px);
    background-color: #f3f3f3;
}

.fl {
    float: left
}

.fr {
    float: right
}