@import 'colors.scss';
@import 'variables.scss';
@import 'buttons.scss';
@import 'tooltip.scss';
@import 'grid.scss';
@import 'radio-checkbox';
@import 'tab-stripes.scss';
@import 'elements.scss';
@import 'utilities.scss';
@import 'model.scss';
//@import 'buttons.scss'  ***;

@import 'fields.scss';
@import 'padding-margin.scss';
@import 'developer.scss';
@import 'side-menu.scss';
@import 'side-menu.scss';
@import 'overide.scss';
@import 'sky.scss';
@import 'typo.scss';
@import 'custom-scroll.scss';
@import 'template-creator.scss';
@import 'common-landing-page.scss';
@import 'dropdownList.scss';

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.star-top-navbar {
    box-shadow: none !important;
    background-color: $base-color !important;

    .logo-text {
        color: #fff;
        font-size: 1em !important;
        text-transform: uppercase;
        left: 54px !important;
    }

    .logo {
        height: 26px !important;
        margin: 12px !important;
        width:34px;
    }

    #top-menu {
        font-size: 1em !important;
    }

    #notification-wrapper {
        font-size: 1.2em !important;
        width: 33px !important;
        color: #ffffff !important;
    }
}

.k-menu:not(.k-context-menu) > .k-item {
    color: #ffffff !important;
}

.display-none {
    display: none
}

.body-content {
    background-color: #fbfbfb
}

//////////////////////////////////////////

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    background-color: $body-color;
}

.main {
    height: calc(100vh - 50px);
    width: 100%;
    top: 50px;
    margin-left: 0;
    padding-right: 0;
    background-color: #e1e1e1;
    position: relative;

}


.content-pane {
    padding: 4px;
    position: fixed;
    left: 50px;
    right: 0;
    bottom: 4px;
    top: 50px;
}
.left-0{left:0 !important}
#component-container {
    position: relative;
    height: 100%;
}
.left-menu-icon {
    margin-right: 5px;
    float: left;
}

///////////////
ul.custom-button-list {
    li {
        padding: 20px;
        width: 100%;
        border-bottom: 1px solid #999;
        list-style: none;
        cursor: pointer
    }
}


.m-d.expand-list > li {
    position: relative;
}

.m-d label[class^="tab"]:hover {
    cursor: pointer;
}

.m-d input {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
}

.tab_lab span {
    padding-top: 14px;
    display: block;
}

.m-d input[class^="tab"] {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;

    > span {
        margin-top: 14px
    }
}

.m-d input[class^="tab"]:hover {
    cursor: pointer;
}

.m-d label[class^="tab"] {
    width: 100%;
    display: block;
    position: absolute;
}

.m-d .ex-content {
    height: auto;
    max-height: 0;
    max-width: 300px;
    /*        background: yellow;*/
    overflow: hidden;
    transform: translateY(20px);
    transition: all 180ms ease-in-out 0ms;

    ul li {
        width: 100%;
        display: inline-block;
    }
}

.m-d li[data-md-content="100"] input[class^="tab"]:checked ~ .ex-content, .m-d li[data-md-content="200"] input[class^="tab"]:checked ~ .ex-content {
    display: inline-table;
    transition: all 150ms ease-in-out 0ms;
}

.ex-content {
    margin-top: 5px;
    margin-left: 26px;
    display: inline-block;

    ul {
        padding: 0;

        li {
            list-style: none
        }
    }

    .open-close-icon {
        position: absolute;
        top: 0;
        margin-top: -5px;
    }
}

.m-d .open-close-icon {
    display: inline-block;
    position: absolute;
    right: 40px;
    transform: translatey(2px);
    top: 14px;
}

.m-d .open-close-icon i {
    position: absolute;
    left: 0;
}

.m-d .open-close-icon .icon-right-arrow {
    transform: rotate(0deg);
    transition: transform 150ms ease-in-out 0ms;
}

.m-d input[class^="tab"]:checked ~ .open-close-icon .icon-right-arrow {
    transform: rotate(90deg);
    transition: transform 150ms ease-in-out 0ms;
}

.m-d .open-close-icon .icon-right-arrow {
    opacity: 1;
    transform: rotate(0deg);
    transition: opacity 50ms linear 0ms, transform 150ms ease-in-out 0ms;
}




/*August 2022*/


/*===========================================floating label ===============================*/

.field {
    position: relative;
    margin-bottom: 10px !important;
    width: 100%;
}

.field__label {
    color: #919293;
    box-sizing: border-box;
    display: block;
    font-size: .8em;
    line-height: 1;
    opacity: 0;
    overflow: hidden;
    padding: .5em 1em;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    left: -2px;
    text-align: left;
    transform: translateY(3px);
    transition: all .2s ease-out;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    z-index: 1;

    .field--not-empty & {
        opacity: 1;
        transform: none;
    }
}

.field__input {
    border: 1px solid #8b8b8b;
    padding: 12px;
    width: 100%;
    transition: all .2s ease-out;
    line-height: 2em;

    &:hover, &:focus {
        /* inset | offset-x | offset-y | blur-radius | spread-radius | color */
        outline: 0;
    }

    .field--not-empty & {
        padding-bottom: 0px;
        /* padding-top: 18px; */
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #919293;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #919293;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #919293;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #919293;
}
/*end/floating lable  =============*/


.white-logo {
    max-width: 48px;
    margin: auto
}

.login-top {
    width: 100%;
    min-height: 50px;
    padding:1%;
    display: block;
    text-align: center
}



.wrapper-top {
    position: absolute;
    z-index: 10002;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.wapper-bottom {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $darkest-blue url("/Content/images/night-sky.svg") no-repeat left top;
    z-index: 10001;

    .skyline {
        position: fixed;
        bottom: 0;
    }
}
// home page
.main-img-wrapper {
    min-height: 302px
}

.home-img {
    z-index: 1;
    width: 100%;
    text-align: center;
    margin-top: 58px;

    img {
        width: auto;
        max-height: 250px;
    }
}

.home-img-bg {
    width: 100%;
    text-align: center;
    background: url(/Content/images/footer-email-template.svg) repeat-x;
    
    img {
        width: 100%;
    }
}

.star-4-logos {
    text-align: center;
    width: 100%;
    display: block;
    background-color: $white;
    min-height: 114px;
    padding: 40px 20px;
    box-shadow: 0 0 20px #ccc;
    transition: all .2s ease-in-out;

    img {
        width: 40px;
        height: auto
    }
    i{font-size:3em}
}
.star-4-logos:hover {
    transform: scale(1.06);
    text-decoration:none;
}



.scroll-to {
    position: fixed;
    bottom: 0;
    width: 100px;
    left: 50%;
    margin-left: -50px;
  
    .scroll-down {
        border: 2px solid $theme;
        border-radius: 20px;
        bottom: 12px;
        height: 50px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 30px;
        cursor:pointer;
    }

    .scroll-down::before {
        animation: scrollDownAnimation 2s infinite;
        background-color: $theme;
        border-radius: 100%;
        content: '';
        height: 6px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 10px;
        width: 6px;
    }

    @-moz-keyframes scrollDownAnimation {
        0% {opacity: 0; transform: translate(0, 0);}
        40% { opacity: 1; }
        80% { opacity: 0;transform: translate(0, 20px); }
        100% { opacity: 0;}
    }

    @-webkit-keyframes scrollDownAnimation {
        0% {opacity: 0;transform: translate(0, 0); }
        40% { opacity: 1; }
        80% {opacity: 0; transform: translate(0, 20px);  }
        100% {opacity: 0; }
    }

    @-o-keyframes scrollDownAnimation {
        0% { opacity: 0;transform: translate(0, 0);  }
        40% { opacity: 1; }
        80% {opacity: 0; transform: translate(0, 20px); }
        100% {opacity: 0; }
    }

    @keyframes scrollDownAnimation {
        0% { opacity: 0; transform: translate(0, 0);}
        40% {opacity: 1; }
        80% { opacity: 0; transform: translate(0, 20px); }
        100% {opacity: 0; }
    }
}

.star-digital-skyline {
    width: 100%;
    background: url("/Client/Boot/assets/images/star-digital-skyline.png") repeat-X left top;
    height: 400px;
    background-size: cover;
}

/*=========Star Admin Home styles=====*/
#tile-menu-9 {
    > button {
        padding: 30px;
        color: $white;
        border-radius: 4px;
        > span {
            font-size: 2em;
        }
    }
    > button:nth-child(1) {
        background-color: $blue-purple;
    }
    > button:nth-child(2) {
        background-color: $vialot;
    }
    > button:nth-child(3) {
        background-color: $vialot-lite;
    }
    > button:nth-child(4) {
        background-color: $blue-purple-dark;
    }
    > button:nth-child(5) {
        background-color: $blue-dark1;
    }
}

#tile-menu-12 {
    > button {
        padding: 30px;
        color: $white;
        border-radius: 4px;

        > span {
            font-size: 2em;
        }
    }

    > button:nth-child(odd) {
        background-color: $theme-dark1;
    }

    > button:nth-child(even) {
        background-color: $theme-darkest;
    }
}

.action-bar {
   // background-color: $theme-tint-99;
    position: relative;
    text-align: right;
    padding: 3px;
}

.icon-search-1 {
    position: absolute;
    right: 2px;
    top: 6px;
    font-size: large;
}

// MVC overrides
.company, .contact-persons, .agreements, .Catalogues, .inventory {
    color: $white;
    font-size: 1em;

    span {
        font-size: 2.6em;
    }

    color: $white;
    font-size: 1em;
}
.company { background-color: $blue-dark1 ;}
.contact-persons {background-color: $blue-dark2;}
.agreements {background-color: $blue-dark3;}
.Catalogues {background-color: $blue-dark1;}
.inventory { background-color: $blue-dark2;}

.econnect {
    h4, h5 {
        color: $green-dark1
    }
}

.icon-x-bold {
    font-size: 11px;
}

.searh-result-header {
    display: grid;
    border-bottom: 2px solid $theme-tint-95
}
.landing-page-container {
    display: block;
    position: relative;
    padding: 30px
}

.tile {
    position: relative !important;
    width: 250px !important;
    height: 170px !important;
    margin: 0 10px 10px 0 !important;
    cursor: pointer !important;
    float: left !important;
    white-space: nowrap;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    user-select: none;

    .name {
        font-size: 1em;
        color: $white;
    }

    .icon-text {
        position: unset !important;

        i {
            font-size: 2.8em !important;
        }
    }

    h1 {
        padding-top: 0px;
        margin-right: 10px;
    }
}

//errors
.error-text {
    color: $red
}

.overflow-scroll-y{
    display: block;
    overflow-y: scroll;
    width:100%;
}

.result-item {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1px;
    padding-left: 5px;
}