/////Colors
$theme: #2196F3/*#0592D9*/;

@function tint($color, $percent) {
    @return mix(#eee, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent) {
    @return mix(black, $color, $percent);
}



$theme-shade-15: shade( $theme, 15% );
$theme-tint-75: tint( $theme, 75% );
$theme-tint-85: tint( $theme, 85% );
$theme-tint-95: tint( $theme, 95% );
$theme-tint-99: tint( $theme, 99% );

$theme-dark: darken($theme, 20%);
$theme-dark1: darken($theme, 25%);
$theme-dark2: darken($theme, 30%);
$theme-darkest: darken($theme, 34%);
$theme-light-dark: desaturate($theme, 10%);
$theme-light: lighten($theme, 30%);
$body-color: #666;
$theme-light-grey: desaturate($theme, 80%);

$tab-content: #fff;
$theme-tab-active-bg: #fff;


$link-color: #2196F3;
$input-border-color: #999;

//==============blue
$blue-color: #2196F3;
/*#0592D9;*/

$blue-dark1: darken($blue-color, 20%);
$blue-dark2: darken($blue-color, 30%);
$dark-blue: darken($blue-color, 20%);
$darker-blue: darken($blue-color, 30%);
$darkest-blue: darken($blue-color, 38%);
$blue-dark3: darken($blue-color, 33%);
$light-dark-blue: darken($blue-color, 33%);
$blue-light1: desaturate($blue-color, 10%);
$light-blue: lighten($blue-color, 40%);
$lighter-blue: lighten($blue-color, 42%);
$lighter2-blue: lighten($blue-color, 44%);
$lighter3-blue: lighten($blue-color, 46%);
$lighter4-blue: lighten($blue-color, 48%);
$blue-light2: lighten($blue-color, 40%);
$blue-light3: lighten($blue-color, 45%);
$blue-light4: lighten($blue-color, 50%);
$blue-light5: lighten($blue-color, 53%);
//
$blue-purple: #746AB2;
$blue-purple-dark: darken($blue-purple, 10%);
$bluish-green: #0AA699;
$bluish-green-dark: darken($bluish-green, 10%);
//Grey
$base-gray: #666;
$grey-dark: darken($base-gray, 10%);
$grey-light: lighten($base-gray, 30%);
$lighter-grey: lighten($base-gray, 55%);
$super-light-grey: lighten($base-gray, 58%);
$body-gray: #f3f3f3;
//
$red: #ff0000;
$red-light: lighten($red, 30%);
$red-dark: darken($red, 10%);
$orange: #ff9900;
$orange-dark: darken($orange, 0%);
$white: #fff;

//Green
$green: #04bd00;
/* #2bb201; */
$green-dark: darken($green, 10%);
$green-dark1: darken($green, 15%);
$green-dark2: darken($green, 20%);
$green-dark3: darken($green, 30%);
$green-dark4: darken($green, 40%);
$green-lite: lighten($green, 20%);
//
$white: #fff;
$black: #000;
$yellow: #f8f900;

$base-color: #0592D9;
/*#ff9900*/
$dark-blue: darken($base-color, 20%);
$light-dark-blue: desaturate($base-color, 10%);

//Theme
.theme {
    color: $theme
}

.theme-alpha-50 {
    color: rgba($theme, 50%);
}

.theme-light {
    color: $theme-light
}

.white {
    color: $white;
}
.bg-white {
    background-color: $white
}


//Blues
.blue {
    color: $blue-color
}

.blue-dark {
    color: $blue-dark1
}

.blue-darker {
    color: $darker-blue
}

.blue-darkest {
    color: $darkest-blue
}

.blue-light {
    color: $light-blue
}

.blue-lighter {
    color: $lighter-blue
}

.blue-lighter2 {
    color: $lighter2-blue
}

.bg-blue {
    background-color: $blue-color
}

.bg-dark-blue {
    background-color: $blue-dark1
}

.bg-darker-blue {
    background-color: $darker-blue !important;
}

.bg-light-dark-blue {
    background-color: $light-dark-blue
}

.bg-blue-darkest {
    background-color: $darkest-blue
}

.bg-blue-light {
    background-color: $light-blue !important;
}

.bg-blue-lighter {
    background-color: $lighter-blue !important;
}

.bg-blue-lighter2 {
    background-color: $lighter2-blue !important;
}

.bg-blue-lighter3 {
    background-color: $lighter3-blue !important;
}
.bg-blue-lighter4 {
    background-color: $lighter4-blue !important;
}


//Greys///
.grey {
    color: $base-gray;
}

.grey-light {
    color: $grey-light;
}

.grey-dark {
    color: $grey-dark !important;
}

.bg-grey {
    background-color: $base-gray;
}

.bg-grey-light {
    background-color: $grey-light;
}

.bg-grey-lighter {
    background-color: $lighter-grey;
}

.bg-grey-dark {
    background-color: $grey-dark;
}

//greens
.green {
    color: $green
}

.green-lite {
    color: $green-lite
}

.green-dark {color: $green-dark}

.bg-green {
    background-color: $green
}
.bg-green-dark {
    background-color: $green-dark
}
.bg-green-dark1 {
    background-color: $green-dark1
}
.bg-green-dark2 {
    background-color: $green-dark2
}
.bg-green-dark3 {
    background-color: $green-dark3
}
.bg-green-dark4 {
    background-color: $green-dark4
}

.bg-green-lite {
    background-color: $green-lite !important;
}

.bg-green-dark {
    background-color: $green-dark !important;
}

//Reds
.red {
    color: $red;
}

.bg-red {
    background-color: $red;
}

.red-light {
    color: $red-light
}

.bg-red-light {
    background-color: $red-light
}

.red-dark {
    color: $red-dark
}

.bg-red-dark {
    background-color: $red-dark
}

//Orange
.orange {
    color: $orange;
}

.bg-orange {
    background-color: $orange;
}

.orange-dark {
    color: $orange-dark;
}

.bg-orange-dark {
    background-color: $orange-dark;
}

//Purples
$vialot: #B572CD;
$vialot-lite: desaturate($vialot, 20%);
$vialot-dark1: darken($vialot, 20%);
$vialot-dark2: darken($vialot, 30%);
.vialot {
    color: $vialot;
}

.bg-vialot {
    background-color: $vialot;
}
.bg-vialot-dark1 {
    background-color: $vialot-dark1;
}
.bg-vialot-dark2 {
    background-color: $vialot-dark2;
}

//
.bluish-green {
    color: $bluish-green
}

.bg-bluish-green {
    background-color: $bluish-green
}

.bluish-green-dark {
    color: $bluish-green
}

.bg-bluish-green-dark {
    background-color: $bluish-green-dark
}

.blue-purple {
    color: $blue-purple
}

.bg-blue-purple {
    background-color: $blue-purple
}

.bg-blue-purple-dark {
    background-color: $blue-purple-dark
}

.bg-bluish-green-light1 {
    background-color: #BEE2DC
}

.bg-bluish-green-light2 {
    background-color: #D3EFEA
}

.bg-bluish-green-light3 {
    background-color: #E6F6F4
}

.bg-bluish-green-light4 {
    background-color: #F0FAF8
}

.bg-bluish-green-light5 {
    background-color: #F6FAF9
}