/* #2bb201; */
/*#ff9900*/
.theme {
  color: #2196F3;
}

.theme-alpha-50 {
  color: rgba(33, 150, 243, 0.5);
}

.theme-light {
  color: #b2dbfb;
}

.white {
  color: #fff;
}

.blue {
  color: #2196F3;
}

.blue-dark {
  color: #0960a5;
}

.blue-darker {
  color: #064475;
}

.blue-darkest {
  color: #042d4e;
}

.blue-light {
  color: #e3f2fd;
}

.blue-lighter {
  color: #fbfdff;
}

.blue-lighter2 {
  color: white;
}

.bg-blue {
  background-color: #2196F3;
}

.bg-dark-blue {
  background-color: #0960a5;
}

.bg-darker-blue {
  background-color: #064475 !important;
}

.bg-light-dark-blue {
  background-color: #108ece;
}

.bg-blue-darkest {
  background-color: #042d4e;
}

.bg-blue-light {
  background-color: #e3f2fd !important;
}

.bg-blue-lighter {
  background-color: #fbfdff !important;
}

.bg-blue-lighter2 {
  background-color: white !important;
}

.bg-blue-lighter3 {
  background-color: white !important;
}

.grey {
  color: #666;
}

.grey-light {
  color: #b3b3b3;
}

.grey-dark {
  color: #4d4d4d !important;
}

.bg-grey {
  background-color: #666;
}

.bg-grey-light {
  background-color: #b3b3b3;
}

.bg-grey-lighter {
  background-color: #f2f2f2;
}

.bg-grey-dark {
  background-color: #4d4d4d;
}

.green {
  color: #04bd00;
}

.green-lite {
  color: #29ff24;
}

.green-dark {
  color: #038a00;
}

.bg-green {
  background-color: #04bd00;
}

.bg-green-dark {
  background-color: #038a00;
}

.bg-green-dark1 {
  background-color: #027100;
}

.bg-green-dark2 {
  background-color: #025700;
}

.bg-green-dark3 {
  background-color: #012400;
}

.bg-green-dark4 {
  background-color: black;
}

.bg-green-lite {
  background-color: #29ff24 !important;
}

.bg-green-dark {
  background-color: #038a00 !important;
}

.red {
  color: #ff0000;
}

.bg-red {
  background-color: #ff0000;
}

.red-light {
  color: #ff9999;
}

.bg-red-light {
  background-color: #ff9999;
}

.red-dark {
  color: #cc0000;
}

.bg-red-dark {
  background-color: #cc0000;
}

.orange {
  color: #ff9900;
}

.bg-orange {
  background-color: #ff9900;
}

.orange-dark {
  color: #ff9900;
}

.bg-orange-dark {
  background-color: #ff9900;
}

.vialot {
  color: #B572CD;
}

.bg-vialot {
  background-color: #B572CD;
}

.bluish-green {
  color: #0AA699;
}

.bg-bluish-green {
  background-color: #0AA699;
}

.bluish-green-dark {
  color: #0AA699;
}

.bg-bluish-green-dark {
  background-color: #07766d;
}

.blue-purple {
  color: #746AB2;
}

.bg-blue-purple {
  background-color: #746AB2;
}

.bg-blue-purple-dark {
  background-color: #5a4f9a;
}

.bg-bluish-green-light1 {
  background-color: #BEE2DC;
}

.bg-bluish-green-light2 {
  background-color: #D3EFEA;
}

.bg-bluish-green-light3 {
  background-color: #E6F6F4;
}

.bg-bluish-green-light4 {
  background-color: #F0FAF8;
}

.bg-bluish-green-light5 {
  background-color: #F6FAF9;
}
