// Developer CSS goes here...******************************************

.loading-overlay {
    pointer-events: none;
}

.color-black {
    color: black;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.n-float {
    clear: left
}

.hover-hand {
    display: inline;

    &:hover {
        cursor: pointer;
    }
}

.disable-div {
    opacity: 0.5;
    pointer-events: none;
}

.page-container {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 50px;
    top: 0px;
    height: calc(100% - 30px);

    .title-txt {
        color: $blue-color;
        font-size: 1.2em;
        padding: 7px;
        font-weight: 700;
        text-align: center;
        width: 100%;
        border-bottom: 2px solid $super-light-grey;
        height: 46px;
    }

    .sub-title-txt {
        color: $blue-color;
        font-size: 16px;
    }

    .search-results-container {
        overflow-y: scroll;
        position: absolute;
        top: 200px;
        background-color: $white;
        // display: grid;
        height: calc(88% - 215px);
        width: 48%;
    }
}


.star {
    visibility: hidden;
    cursor: pointer;
    font-size: 25px;
}

.star:before {
    content: "\2606";
    position: absolute;
    visibility: visible;
    color: $blue-color;
}

.star:checked:before {
    content: "\2605";
    position: absolute;
}




.icon-more {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 2em;
    color: $blue-color;

    &:hover {
        color: $green;
    }
}

.check-box {
    width: 20px;
    height: 20px;
}

.input-hint-text-visible {
    position: absolute;
    font-size: 12px;
    padding: 0px 6px 0 0;
    transition: all 0.2s ease-out;
    top: -8px;
    left: 0;
    background-color: $white;
}

.input-hint-text-hidden {
    position: absolute;
    transition: all .2s ease-in;
    top: 15px;
    left: 15px;
    opacity: 0;
    z-index: -1;
}


.input-container {
    position: relative;
}

.ant-modal-title {
    color: $blue-color;
    text-align: center;
}

.ant-modal-footer {
    text-align: center;
}

.custom-tab-container {
    background-color: $white;
    margin-top: 3px;
    padding: 0 0 50px 0;
    /*overflow: scroll;*/
    display: grid;
    height: calc(100% - 140px);
    width: 100%;
}

.ant-tabs {
    background-color: $white;
}

.ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap {
    background-color: $theme-tint-95;
    padding: 4px 4px 0 4px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $blue-color;
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab {
    background-color: #81B1CA;
    border-color: #81B1CA;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab-active {
    background-color: $white;
    border-color: $white;
}

.ant-badge-status-text {
    font-weight: 400;
    font-size: 14px;
    color: $base-gray;
}


.ant-message {
    top: 50px;
}

.ant-notification-notice {
    top: 30px;
}

div.rsw-ce {
    max-height: 200px;
    overflow: auto;
    padding-left: 10px;
}

div.rsw-ce li {
    margin-left: 25px;
}

.ant-table-column-title {
    z-index: 0;
}

.image-picker-img-container {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #333;
    margin-bottom: 40px;
}

.color-picker-container {
    position: absolute;
    z-index: 2;
}