@keyframes cdp-in {
    from {
        transform: scale(1.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.cdp {
    position: absolute;
    text-align: center;
    font-size: 0;
    z-index: 6;
    height: 70px;
    bottom: 0;

    &_i {
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        height: 30px;
        min-width: 30px;
        letter-spacing: .03em;
        display: none;
        color: black;
        padding: 3px;

        &:first-child,
        &:last-child {
            padding: 3px 16px;
            margin: 0 12px 6px;
        }

        &:last-child,
        &:nth-child(2),
        &:nth-last-child(2) {
            display: inline-block;
        }
    }

    &_i:hover {
        color: $blue-color;
        border: 2px solid $blue-color;
    }

    &:not([actpage="1"]) &_i:nth-child(1) {
        display: inline-block;
    }
}

@for $i from 1 through 200 {
    .cdp[actpage="#{$i}"] {

        // 3 before
        .cdp_i:nth-child(#{$i - 2}):not(:first-child):not(:nth-child(1)) {
            display: inline-block;
            pointer-events: none;
            color: transparent;
            border-color: transparent;
            width: 50px;

            &:after {
                content: '...';
                color: black;
                font-size: 32px;
                margin-left: -6px;
            }
        }

        // 2 before
        .cdp_i:nth-child(#{$i - 1}):not(:first-child) {
            display: inline-block;
        }

        // before
        .cdp_i:nth-child(#{$i}):not(:first-child) {
            display: inline-block;
        }

        // active
        .cdp_i:nth-child(#{$i + 1}) {
            color: $blue-color;
            border: 2px solid $blue-color;
            display: inline-block;

            +.cdp_i:last-child {
                display: none !important;
            }
        }

        // next
        .cdp_i:nth-child(#{$i + 2}):not(:last-child) {
            display: inline-block;
        }

        // 2 next
        .cdp_i:nth-child(#{$i + 3}):not(:last-child) {
            display: inline-block;
        }

        // 3 next
        .cdp_i:nth-child(#{$i + 4}):not(:last-child):not(:nth-last-child(2)) {
            display: inline-block;
            pointer-events: none;
            color: transparent;
            border-color: transparent;
            width: 50px;

            &:after {
                content: '...';
                color: black;
                font-size: 32px;
                margin-left: -6px;
            }
        }
    }
}