@import '../../assets/css/colors.scss';

.expandable {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: $lighter-grey;

    &:hover {
        box-shadow: 1px 1px 2px $lighter-grey
    }

    .expandable-row {
        float: left;
        width: 90%;
    }
}

.color-guide-container {
    border-right: 5px solid white;
    padding:8px !important;
}



.header-icon {
    color: $blue-color;
    font-size: 2em;
}

.toggle-icon {
    color: $blue-color;
    font-size: 1em;
    margin-right: 4px;
}

.close-icon {
    color: $blue-color;
    font-size: 1.5em;
}

.directional-img {
    width: 125px;
    height: 161px;
}


.center-loading {
    left: 20%;
}

.static-content-container {
    overflow-y: scroll;
    position: absolute;
    display: grid;
    height: calc(80% - 105px);
}

.static-content-container-small {
    overflow-y: scroll;
    position: absolute;
    display: grid;
    height: calc(80% - 300px);
}



.country-dropdown-container {
    width: 200px;
}

.supplier-dropdown-content-container {
    overflow-y: scroll;
    height: calc(100vh - 335px);
    width: 100%;
}

.supplier-dropdown-content-container-market-view {
    height: calc(100vh - 405px);
}