@import '../../assets/css/colors.scss';

.expandable {
    border-top: 1px solid $tab-content;
}

.color-guide-container {
    border-right: 5px solid white;
}

.result-item {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1px;
    padding-left: 5px;
}

.header-icon {
    color: $blue-color;
    font-size: 2.5em;
}

.toggle-icon {
    color: $blue-color;
    font-size: 1em;
    margin-right: 4px;
}

.close-icon {
    color: $blue-color;
    font-size: 1.5em;
}

.directional-img {
    width: 125px;
    height: 161px;
}

.selected-codes {
    margin-bottom: 25px;
}

.center-loading {
    left: 20%;
}

.static-content-container {
    overflow-y: scroll;
    position: absolute;
    display: grid;
    height: calc(80% - 105px);
}

.static-content-container-small {
    overflow-y: scroll;
    position: absolute;
    display: grid;
    height: calc(80% - 300px);
}

.update-btn {
    position: fixed;
    right: 50px;
    bottom: 20px;
}

.country-dropdown-container {
    width: 200px;
}