@import '../../assets/css/colors.scss';

// Start Search Page Styles ---*>
.gray-container {
    background-color: $lighter-grey;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    display: inline-block;
}

.result-item {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-left: 5px;
}

.results-box {
    background-color: $white;
    padding: 10px;
}

.results-group {
    border: 1px solid $lighter-grey;
    margin-bottom: 10px;
    padding: 5px;
}

.selected-group {
    border: 1px solid black;
}

.flag-icon {
    max-width: 10px;
    max-height: 15px;
}

.flag-image {
    max-width: 30px;
    max-height: 20px;
}

.logo-thumb {
    width: 44px;
    height: 44px;
    display: block;
}

.search-btn {
    position: absolute;
    right: 4px;
    padding-top: 4px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 1s;
    color: $blue-color;

    &:hover {
        color: $green-lite
    }
}

.search-bar {
    position: relative;

}

.search-result-row {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: 'flex-start';
    padding-bottom: 10px;
    border-bottom: 2px solid $super-light-grey;

    img {
        max-width: 80px
    }
}

.line-seperator {
    height: 2px;
    float: right;
}

.save-button {
    right: 10px;
}

.remove-button {
    position: absolute;
    right: 150px;
    bottom: 50px;
}

.reset-button {
    position: absolute;
    right: 330px;
    bottom: 50px;
}

.hint-text {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.buyer-search-result-pagination-container {
    margin-top: 10px;
    margin-left: 15vw;
}

// End Search Page Styles ---*>

// Start Projects Page Styles ---*>
.table-icon {
    font-size: 22px;
    margin-right: 8px;
    cursor: pointer;
}
.icon-tile-view, .icon-grid-view {
    float: right; margin-left:5px; font-size:18px}
.icon-tile-view {
    color: $theme-dark1;
    &:hover {
        color: $theme
    }
}
.icon-grid-view {
   color:$theme-dark2;

    &:hover {
        color: $theme
    }
}
/*
.grid-view-icon {
    font-size: 22px;
    margin-left: 8px;
    color: $blue-color;
}

.list-view-icon {
    font-size: 22px;
    color: $orange;
}
    */
.detail-edit-icon {
    font-size: 22px;
    margin-right: 8px;
    cursor: pointer;
    color: $blue-color;
    position: absolute;
    right: 30px;
}

.border-blue {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.serch-table-icon {
    font-size: 15px;
}

.section-search-results-container {

}

.selectAll-checkbox {
    padding-bottom: 30px;
}

.member-section-dropdown {
    max-height: 200px;
    overflow-y: scroll;
}

.criteria-table-box {
    width: 140px
}

.table-separate {
    border-bottom: 0.5px solid $blue-color;
}

.buyer-search-crieteria-container {
    max-height: 80vh;
    overflow: scroll;
}

// End Projects Page Styles ---*>