.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.aside {
    width: 20%;
    max-width: 250px;
}

.sidebarColapsBtnContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20px;
}

.sidebarColapsBtn {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    right: -10px;
}

.customNodeContainer {
    display: flex;
    align-items: center;
    border: 0;
}

.tableContainer {
    border: 2px solid;
}

.dndflow .reactflowrapper {
    flex-grow: 1;
    width: 90vw;
    height: 80vh;
}

.dndflow .selectall {
    margin-top: 10px;
}

.dndflow .drawingTextArea {
    position: absolute;
    border: transparent;
    text-align: center;
    resize: none;
    font-size: 8px;
    background-color: transparent;
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        border-right: 1px solid #eee;
        padding: 5px 10px;
        font-size: 12px;
        background: #fcfcfc;
    }
}

div.customHandle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 0;
}

div.customHandle2 {
    left: 101%;
    width: 0;
    height: 0;
}

div.customHandle2:after {
    content: '\2192';
    position: absolute;
    font-size: 25px;
    right: -20px;
    top: -15px;
}

.toolBarContainer {
    width: 60vw;
    margin-left: 50px;
    height: 40px;
    background-color: white;
    border: 1px solid rgba(223, 212, 212, 0.573);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.toolBarSeparator {
    height: 80%;
    width: 1px;
    background-color: rgba(180, 165, 165, 0.477);
}

.fontSizeContainer {
    width: 85px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.sizeInputEndText {
    position: absolute;
    right: 30px;
    top: 8px;
}

.colorPickerContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 40px;

    &:hover {
        cursor: pointer;
    }
}

.sidebarMainContainer {
    height: 77vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;
}

.sidebarCategoryContainer {
    background-color: #EAEAEA;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.sidebarCategoryheader {
    background-color: #CCCCCC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;

    &:hover {
        cursor: pointer;
    }
}

.colorIconFooter {
    position: absolute;
    border: 1px solid rgba(223, 212, 212, 0.573);
    bottom: 0;
    left: 2.5px;
    height: 5px;
    width: 20px;
    bottom: -2px;
}

.sidebarItemContainer {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.fontColorFooter {
    position: absolute;
    bottom: 0;
    left: -5px;
    height: 5px;
    width: 20px;
    bottom: -5px;
}

.fontBoldContainer {
    font-weight: bolder;
    width: 20px;
    border-radius: 3px;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}

.nodeCloseBtn {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 7px;
    color: red;

    &:hover {
        cursor: pointer;
    }
}

.sketchPickerContainer {
    position: absolute;
    top: 40px;
}

.textBtnRotate {
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 7px;

    &:hover {
        cursor: pointer;
    }
}

.tableBtnVertical {
    position: absolute;
    top: -10px;
    font-size: 6px;
    padding: 0px 2px !important;

    &:hover {
        cursor: pointer;
    }
}

.tableBtnHorizontal {
    position: absolute;
    bottom: 0px;
    right: -40px;
    font-size: 6px;
    padding: 0px 2px !important;

    &:hover {
        cursor: pointer;
    }
}

.activityIcon {
    position: absolute;
}

.activityContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolBarIcon {
    font-size: 20px;

    &:hover {
        cursor: pointer;
    }
}

.handleHidden {
    visibility: hidden;
}

.canvasContextMenu {
    position: absolute;
    z-index: 10;
}

.canvasContextMenu button {
    display: block;
    margin-bottom: 2px;
    width: 100%;
}

.rotateHandle {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #3367d9;
    left: 50%;
    top: -18px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    cursor: alias;
}

.rotateHandle:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background: #3367d9;
    left: 2px;
    top: 5px;
}

.lineChartContainer {
    position: relative;
    border: solid 2px;
    border-color: #000 #000 transparent transparent;
    overflow: hidden;
}

.lineChartCurveBox {
    position: absolute;
    border: solid 1px #000;
    border-radius: 50%;
    border-style: dotted;
}

.lineChartLine {
    position: absolute;
    left: -1.5px;
    top: -3.5px;
    height: 2px;
    border: 0;
    background-color: #000;
}

.lineChartLineToolbarItem {
    width: 80px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.copyPasteContainer {
    border: solid 1px;
    border-radius: 3px;
    padding: 5px;
    border-color: #434343;

    &:hover {
        cursor: pointer;
    }
}

.matrixChartContainer {
    display: flex;
    flex-direction: column;
    border: solid 1.5px;
    border-radius: 3px;
    padding: 20px;
    border-color: #d3d3d3;
}

.matrixChartHeader {
    border: solid 1px;
    margin-bottom: 10px;
    background-color: #a2a2a2;
    border-color: #434343;
}

.matrixChartHeaderText {
    border: transparent;
    text-align: center;
    resize: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: bolder;
    background-color: transparent;
    margin-top: 5px;
    height: 30px;
}

.matrixChartSection {
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-direction: row;
    border: solid 1px;
    border-color: #434343;
    background-color: #EAEAEA;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.matrixChartItem {
    position: relative;
    display: flex;
    align-items: center;
    width: 100px;
    border: solid 1px;
    border-color: #434343;
    background-image: linear-gradient(90deg, lightcoral, white);
    margin-top: 10px;
    border-radius: 7px;
}

.matrixChartItemLarge {
    min-height: 70px;
}

.matrixAddNewItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 20px;
    border: solid 1px;
    border-color: #D3D3D3;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: #808080;

    &:hover {
        cursor: pointer;
        background-color: #c6bcbc;
    }
}

.matrixItemText {
    height: 100%;
    border: transparent;
    text-align: center;
    resize: none;
    font-size: 11px;
    background-color: transparent;
}

.matrixItemClose {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 8px;
    z-index: 200;

    &:hover {
        cursor: pointer;
    }
}

.matrixToolbarContainer {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.matrixColorPickerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.matrixPaintBucket {
    font-size: 15px;
    color: #434343;

    &:hover {
        cursor: pointer;
    }
}

.matrixColumnActionRow {
    display: flex;
    flex-direction: row;
}