@import '../../assets/css/colors.scss';

.dropdownContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 7px;
    border: 1px solid $grey-light;
    border-radius: 3px;
    width: 100%;
    background-color: $white;
    max-height: 40px;

    &:hover {
        cursor: pointer;
    }
}

.dropdownArrowContainer {
    display: flex;
    flex: initial;
    font-size: 9px;
    margin-left: 5px;
    margin-top: 5px;
}

.dropdownListContainer {
    position: absolute;
    z-index: 100;
    border: 1px solid $grey-light;
    background-color: $white;
}

.dropdownListItem {
    border-bottom: 1px solid $grey-light;
    padding: 7px;

    &:hover {
        cursor: pointer;
        background-color: $grey-light;
    }
}

.displayValueContainer {
    display: flex;
    flex: auto;
}

.dropdownIcon {
    font-size: 25px;
}

.dropdownSelectedIcon {
    display: flex;
    flex: 1;
    font-size: 25px;
    margin-top: -4px;
    margin-bottom: -4px;
}