@import '../assets/css/colors.scss';
@import '../assets/css/variables';

.selected-item {
    margin-top: 5px;
    background-color: $white;
    border-style: solid;
    border-width: 1px;
    border-color: $base-gray;
    width: 100%;
    padding: 5px;
    height: 45px;
    overflow: hidden;
}